@model CalculadoraWaste.Models.ResultadoViewModel
@{
    Layout = null;
    ViewData["Title"] = "_Resultado";
}

<div class="card-panel">
    <div class="row" style="margin-bottom: 0">
        <div class="card-panel" style="padding: 10px;">
            <div class="row">
                <div class="input-field col s6">
                    <i class="mdi-action-account-circle prefix active">
                        <img src="src/images/party.jpg" />
                    </i>
                    <input class="@(Model.BalanceTotalParty > 0 ? "valid" : "invalid")" style="color: @(Model.BalanceTotalParty < 0 ? "red" : "green")" type="text" disabled value="@Model.NomeBalanceTotalParty">
                    <label class="active">@(Model.BalanceTotalParty > 0 ? "O lucro" : "A waste") total da party foi de</label>
                </div>
                <div class="input-field col s6">
                    <i class="mdi-communication-email prefix active">
                        <img src="src/images/mage.jpg" />
                    </i>
                    <input class="@(Model.BalancePorMembro > 0 ? "valid" : "invalid")" style="color: @(Model.BalancePorMembro < 0 ? "red" : "green")" type="text" disabled value="@Model.NomeBalancePorMembro">
                    <label class="active">@(Model.BalancePorMembro > 0 ? "O lucro" : "A waste") total de cada membro foi de</label>
                </div>
            </div>
        </div>
        <table class="responsive-table centered">
            <thead>
            <tr>
                <th>Jogador</th>
                <th>Precisa pagar</th>
                <th>Para o jogador</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.MembroParty.Any())
            {
                @foreach (var item in Model.MembroParty)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.NomeValorPagar</td>
                        <td>@item.PagarPara</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="text-align: center">Nenhum jogagor precisa ser pago</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="row" style="margin-bottom: 0">
            <div class="input-field col s12">
                <a class="btn cyan waves-effect waves-light right grey lighten-1" asp-controller="CalculadoraSimples" asp-action="Index">
                    <i class="material-icons left">add</i>
                    Novo Cálculo
                </a>
                <a class="btn cyan waves-effect waves-light right grey lighten-1" style="margin-right: 5px;" onclick="recalcular()">
                    <i class="material-icons left">refresh</i>
                    Recalcular
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function recalcular() {
        $("#divResultado").slideUp(200, function() {
            $("#divResultado").empty();
            $("#divCalculadoraSimples").slideDown(200);
        });
;    }
</script>

